
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Dependencies -->
       <title>Available flights</title>

    <link href="../static/css/Flights.css" th:href="@{/css/Flights.css}" rel="stylesheet" />
    <link href="../static/css/Select.css" th:href="@{/css/Select.css}" rel="stylesheet" />
    <link href="../static/css/Text.css" th:href="@{/css/Text.css}" rel="stylesheet" />

</head>
<body>
<div> <form action="#" th:action="@{/query}" th:object="${queryParams}" method="post" class="form-style-9">
        <ul>
            <li>
                <label for="dateDeparture"><br>Datum polaska</label>
                <input type="date" th:field="*{dateDeparture}" id="dateDeparture" placeholder="dateDeparture">
                <span th:if="${#fields.hasErrors('dateDeparture')}" th:errors="*{dateDeparture}"></span>
            </li>
            <li>
                <label for="returnDate"><br>Datum povratka</label>
                <input type="date" th:field="*{returnDate}" id="returnDate" placeholder="returnDate">
                <span th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"></span>
            </li>
            <li>
                <label for="numberOfPassangers"><br> Broj putnika</label>
                <input type="text" th:field="*{numberOfPassangers}" id="numberOfPassangers" placeholder="numberOfPassangers">
                <span th:if="${#fields.hasErrors('numberOfPassangers')}" th:errors="*{numberOfPassangers}"></span><br>
            </li>
            <li>
                <label for="departureAirport">Polazak:</label>
                <select th:field="*{departureAirport}" id="departureAirport">
                    <option value=""> -- </option>
                    <option th:each="airport : ${airports}"
                            th:value="${airport.getIata()}"
                            th:utext="${airport.getAirportName()}"/>
                </select>
            </li>
            <li>
                <label for="returnAirport"><br>Dolazak:</label>
                <select th:field="*{returnAirport}" id="returnAirport" >
                    <option value=""> -- </option>
                    <option th:each="airport : ${airports}"
                            th:value="${airport.getIata()}"
                            th:utext="${airport.getAirportName()}"/>
                </select>
          </li>
          <li>
                <label for="currency"><br>Valuta</label>
                    <select th:field="*{currency}" id="currency" >
                        <option th:value="'USD'" th:text="USD"></option>
                        <option th:value="'EUR'" th:text="EUR"></option>
                    <option th:value="'HRK'" th:text="HRK"></option>
                </select>
          </li>
          <li>
            <p><br>
                <input type="submit" value="Pretraži" >
            </p>
        </ul>
    </form>
</div>
<h1>Ament AirFare</h1>
<div th:switch="${flights}">
    <h2 th:case="null">Definirajte parametre pretrage!</h2>
    <div th:case="*">
      <h2>Letovi</h2>
      <table id="flights">
            <thead>
            <tr>
                <th>Polazak</th>
                <th>Dolazak</th>
                <th>Datum polaska</th>
                <th>Datum povratka</th>
                <th>Broj presjedanja u polasku</th>
                <th>Broj presjedanja u dolasku</th>
                <th>Ukupna cijena</th>
                <th>Valuta</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.departureAirport}"></td>
                <td th:text="${flight.returnAirport}"></td>
                <td th:text="${flight.dateDeparture}"></td>
                <td th:text="${flight.returnDate}"></td>
                <td th:text="${flight.numberOfTransfersArrival}"></td>
                <td th:text="${flight.numberOfTransfersDeparture}"></td>
                <td th:text="${flight.sumOfPrice}"></td>
                <td th:text="${flight.currency}"></td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>